<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Glpmr Authentification</title>
    
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/materialize.css') }}" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/design.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/toastr.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
    
    <script type="application/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
    
</head>
<body>
{% for flashMessage in app.session.flashbag.get('notification') %}
<div class="notification" data-message="{{ flashMessage }}">

</div>
{% endfor %}