{% extends "GlpmrAuthentificationBundle::layout.html.twig" %}

{% block body %}
    <div class="nav-title-wrapper">
        <h3 class="center-align">Gestion des p&eacute;riph&eacute;riques</h3>
    </div>

    <div class="row main">
    <div class="container">
        <div class="col s11">
            <div class="card-panel card-table">
                <table class="striped responsive-table tableAdr bordered centered z-depth-2">
                    <thead class="bg-bleu-pasteur white-text">
                    <tr>
                        <th data-field="id" rowspan="2">n&deg;</th>
                        <th data-field="type" rowspan="2">P&eacute;riph&eacute;rique</th>
                        <th data-field="hostname" rowspan="2">Hostname</th>
                        <th data-field="description" rowspan="2">Description</th>
                        <th data-field="adresse" rowspan="2">Adresse autorisée</th>
                        <th data-field="ip" rowspan="2">Adresse IP</th>
                        <th data-field="action" colspan="2">Action</th>
                    </tr>
                    <tr>
                        <th data-field="edit">Modifier</th>
                        <th data-field="delete">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for peripherique in peripheriques %}
                        <tr>
                            <td>{{ peripherique.id }}</td>
                            {% if peripherique.type == "ordinateur" %}
                                <td><i class="mdi-hardware-computer small fg-bleu-pasteur tooltipped cursor-pointer"
                                       data-tooltip="Ordinateur" data-position="left"></i>
                                </td>
                            {% elseif peripherique.type == "smartphone" %}
                                <td><i class="mdi-hardware-smartphone small fg-bleu-pasteur tooltipped cursor-pointer"
                                       data-tooltip="Téléphone" data-position="left"></i>
                                </td>
                            {% elseif peripherique.type == "tablette" %}
                                <td><i class="mdi-hardware-tablet small fg-bleu-pasteur tooltipped cursor-pointer"
                                       data-tooltip="Tablette" data-position="left"></i>
                                </td>
                            {% elseif peripherique.type == "vm" %}
                                <td><i class="mdi-hardware-dock small fg-bleu-pasteur tooltipped cursor-pointer"
                                       data-tooltip="Machine virtuelle" data-position="left"></i>
                                </td>
                            {% endif %}
                            <td>{{ peripherique.hostname }}</td>
                            <td>{{ peripherique.description }}</td>
                            <td>{{ peripherique.add_mac }}</td>
                            <td>{{ peripherique.add_ip }}</td>
                            <td><a href="{{ path("glpmr_peripherique_modifier",{'id': peripherique.id} ) }}"
                                   class="btn-floating bg-vert-pasteur waves-effect waves-light"><i
                                            class="mdi-content-create"></i></a></td>
                            <td><a data-id="{{ peripherique.id }}" href="#confirmSuppr"
                                   class="modal-trigger btn-floating red waves-effect waves-light suppr"><i
                                            class="mdi-content-clear"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col s1">
            <a href="#formAdresse" class="modal-trigger btn-floating btn-large waves-effect waves-light bg-bleu-pasteur tooltipped" data-tooltip="Ajouter un peripherique" data-position="right"><i class="mdi-content-add-circle small"></i></a>
        </div>

        <!-- Formulaire ajout d'adresse -->
        <div id="formAdresse" class="modal modal-fixed-footer">
            <form action="{{ path('glpmr_peripherique_ajouter') }}" method="POST">
                <div class="modal-content">
                    <h5>Ajouter une adresse</h5>

                    <div class="col s12">
                        <div class="col s1 correct">
                            <i class="mdi-action-perm-device-info small"></i>
                        </div>
                        <div class="col s6">
                            <select id="type" name="type" required>
                                <option value="" disabled selected>Choisir un p&eacute;riph&eacute;rique</option>
                                <option value="ordinateur">Ordinateur</option>
                                <option value="vm">Machine Virtuelle</option>
                                <option value="smartphone">T&eacute;l&eacute;phone</option>
                                <option value="tablette">Tablette</option>
                            </select>
                        </div>
                        <div class="col s1 correct">
                            <i class="mdi-action-settings-remote small"></i>
                        </div>
                        <div class="col s4">
                            <select id="ip" name="ip" required>
                                <option value="" disabled selected>Choisir une IP :</option>
                                {% for ip in tableau_ip %}
                                    <option value="{{ ip }}">{{ ip }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col s12">
                            <div class="input-field">
                                <i class="mdi-action-dns prefix"></i>
                                <input type="text" id="hostname" class="validate" name="hostname" required/>
                                <label for="hostname">Hostname</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field">
                                <i class="mdi-hardware-cast prefix"></i>
                                <input type="text" class="validate" name="adresse" id="adresseMac" required/>
                                <label for="adresse">Adresse MAC</label>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="input-field">
                                <i class="mdi-editor-mode-edit prefix"></i>
                                <input type="text" id="description" class="validate" name="description" required/>
                                <label for="description">Description</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer center-align">
                    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Fermer</a>
                    <button class="btn-flat waves-effect waves-green" type="submit" name="action">Enregistrer</button>
                </div>
            </form>
        </div>


        <!-- dialogue de confirmation de suppression -->
        <div id="confirmSuppr" class="modal">
            <form action="{{ path('glpmr_peripherique_supprimer') }}" method="POST" id="formSuppr">
                <div class="modal-content">
                    <h5>Suppression</h5>

                    <div class="col s12">
                        <p>
                            Vous allez supprimer l'adresse s&eacute;lectionn&eacute;e, &ecirc;tes-vous s&ucirc;r ?
                        </p>
                    </div>
                    <div class="modal-footer center-align">
                        <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Non</a>
                        <button class="btn-flat waves-effect waves-green" type="submit" name="action">Oui</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}