{% extends "GlpmrVirtualMachineBundle::layout.html.twig" %}

{% block body %}        

    <br/><br/>


    <div class="container">            

        <div class="card blue-grey darken-1">

            <div class="card-content white-text">

                <div class="inline">
                    <form action="{{ path('glpmr_virtual_machine_gestion') }}" method="post">
                        <button class="waves-effect waves-light btn right" type="submit" name="action">                       
                            <i class="fa fa-cog"></i>
                        </button>
                    </form>
                    <span class="card-title orange-text">Formulaire de création d'une machine virtuelle</span>
                </div>
                <br/>
                <br/>

                <form action="" method="post" {{ form_enctype(form) }}>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}


                    {# Génération du label. #}
                    {{ form_label(form.nomVM, "Nom de la VM", {'label_attr': {'class': 'input-field col-lg-8'}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.nomVM) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.nomVM, {'attr': {'class': 'form-control'}}) }}                    

                    {# Idem pour un autre champ. #}

                    {{ form_label(form.mailEleve, "Email de l'élève", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.mailEleve) }}

                    {{ form_widget(form.mailEleve, {'attr': {'class': 'form-control'}}) }}



                    {# Idem pour un autre champ. #}

                    {{ form_label(form.passwordRoot, "Mot de passe ROOT", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.passwordRoot) }}

                    {{ form_widget(form.passwordRoot, {'attr': {'class': 'form-control'}}) }}



                    {# Idem pour un autre champ. #}

                    {{ form_label(form.OS, "Choix du système d'exploitation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.OS) }}

                    {{ form_widget(form.OS, {'attr': {'class': 'form-control'}}) }}



                    {% if  demande.getNomVM()  == null %}

                        {# Idem pour un autre champ. #}

                        {{ form_label(form.prof, "Professeur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.prof) }}

                        {{ form_widget(form.prof, {'attr': {'class': 'form-control'}}) }}

                    {% endif %}





                    {# Idem pour un autre champ. #}

                    {{ form_label(form.adrsReseau, "Adresse réseau désirée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.adrsReseau) }}

                    {{ form_widget(form.adrsReseau, {'attr': {'class': 'form-control'}}) }}



                    {# Génération automatique des champs pas encore écrits.
                       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                       et tous les champs cachés (type « hidden »). #}
                    {{ form_rest(form) }}

                    <br/>

                    <button class="waves-effect waves-light btn right" type="submit" name="action">
                        <i class="mdi-content-send right"></i>
                    </button>

                    <br/>
                    <br/>
                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}

                </form>
            </div>
        </div>
        <div>
            <br/>
            &nbsp; 
        </div>
    </div>

{% endblock %}

